* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #ffffff;
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
}
h2 {
  font-weight: 100;
  font-size: 80px;
  line-height: 156px;
}
h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #afdfff;
}
.weather-app {
  /* background: linear-gradient(248.66deg, #F0B5CE 0%, #8C6BAE 100%); */
  background: linear-gradient(248.66deg, #a28f8f 0%, #0b3638 100%);
  border-radius: 10px;
  padding: 10px 15px;
}
.github-link {
  color: #afdfff;
}
.search-box {
  font-size: 20px;
  font-weight: 300;
  line-height: 31px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 12px;
  border-radius: 8px 0 0 8px;
  outline: 0;
}
::placeholder {
  color: #ffffff;
}
.search-icon-box {
  display: flex;
}
.search-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 8px 8px 0;
  height: 54px;
  padding: 0 12px;
}
.current-btn {
  color: #ffffff;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  height: 54px;
  padding: 0 12px;
  transition: all ease-in-out 200ms;
}
.current-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.123);
}
input,
select,
textarea {
  color: #ffffff;
}
.search-icon {
  font-size: 20px;
  color: #ffffff;
}
.location-and-icon {
  display: flex;
}
.location-icon {
  font-size: 18px;
  margin-top: 5px;
  padding: 0 10px;
}
.line {
  border-left: solid 1px #ffffff;
  margin: 0 5px;
  font-size: 20px;
}
.celsius,
.fahrenheit {
  font-size: 18px;
}

.today-weather-icon {
  width: 120px;
}
.day,
.time {
  font-weight: 300;
  font-size: 22px;
  line-height: 120%;
}
.card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
.col-1 {
  border: 1px solid rgb(255, 0, 0);
}
.col-2 {
  border: 1px solid rgb(255, 115, 0);
}
.col-3 {
  border: 1px solid rgb(255, 238, 0);
}
.col-4 {
  border: 1px solid rgb(115, 255, 0);
}
.col-5 {
  border: 1px solid rgb(0, 255, 170);
}
.col-6 {
  border: 1px solid rgb(0, 38, 255);
}
.col-7 {
  border: 1px solid rgb(93, 9, 100);
}
.col-8 {
  border: 1px solid rgb(255, 18, 196);
}
.col-9 {
  border: 1px solid rgb(80, 40, 52);
}
.col-10 {
  border: 1px solid rgb(10, 44, 7);
}
.col-11 {
  border: 1px solid rgb(0, 132, 255);
}
.col-12 {
  border: 1px solid rgb(223, 255, 80);
}